<app-header></app-header>



<!-- header end -->
<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-list">
          <ul>
            <li><a routerLink="/">HOME</a></li>
            <li><a routerLink="/product-categories/{{product?.category.id}}">{{product?.category.cat_name| uppercase}} </a></li>
            <li><a routerLink="/product-subcategories/{{product?.category.id}}/{{product?.subcategory.id}}">{{product?.subcategory.subcat_name | uppercase}}</a></li>
            <li><a routerLink="/product-list/{{product?.category.id}}/{{product?.subcategory.id}}/{{product?.subsubcategory.id}}">{{product?.subsubcategory.subsubcat_name | uppercase }}</a></li>
            <li><span>{{product?.name | uppercase}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- breadcrumb-area end -->
<!-- shop-area start -->
<div class="shop-area">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 zoomSlide">
            <div class="exzoom hid_den" id="exzoom">
              <div class="exzoom_img_box">
                <ul class='exzoom_img_ul'>
                  
                  <!-- <li><img src="{{product?.main_img}}"></li> -->
                  <li *ngFor = "let image of colour_and_images?.product_images">
                    <img src="http://mysite{{image?.image}}"/>
                  </li>
                  
                </ul>
              </div>
              <div class="exzoom_nav"></div>
              <p class="exzoom_btn">
                <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
                <a href="javascript:void(0);" class="exzoom_next_btn"> ></a>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 shop-list shop-details">
            <div class="product-content">
              <h5>{{profile?.name}}</h5>
              <h3><a >{{product?.name}}</a></h3>
              <div class="price">
                <span>$ {{colour_and_images?.special_price}}</span>
                <span  *ngIf="colour_and_images?.offer>'0'" class="old"><small>$ {{colour_and_images?.actual_price}}</small>&nbsp;&nbsp; {{colour_and_images?.offer}}% off</span>
              </div>
              <div class="s-p-rating">
                <span class="review-no">Inclusive of all taxes</span>
              </div>
              <div class="pro-rating rating" >
                <i class="fa fa-star" *ngFor="let star of product_stars"></i>
                <i class="fa fa-star-o" *ngFor="let non_star of product_non_stars"></i>
              </div>
             <span>(5 customer reviews)</span>
              <div class="pro-size">
                <!-- <label>Select Size <span>Size Guide</span></label> -->

                <div class="col-md-2 col-xs-4 boxed" *ngFor="let size of colour_and_images?.available_size">
                  <input type="radio" [(ngModel)]="selected_size" [value]="size.size" id="size-{{size.id}}" name="size" *ngIf="size.stock_status">
                  <label for="size-{{size.id}}" *ngIf="size.stock_status">{{size.size}}</label>
                </div>
               
              </div>
              <div class="pro-size">
                <label>colors</label>

                <div class="detail round" *ngFor=" let colour of product?.available_colours">
                  <input type="radio"  routerLink="/return-product-detail-bycolor/{{product.id}}/{{colour.id}}/{{oid}}" [checked]="colour.colour_id == colour_and_images.colour" id="colour-{{colour.id}}" name="colour" />
                  <label for="colour-{{colour.id}}" [ngStyle]="{'background-color': colour.colour_code}" ></label>
                </div>
              
              </div>
              <!-- <div class="product-action"> -->
                <!-- <div class="button-top">
                  <a href="javascript:void(0);" (click)= "addToWishlist(product?.id, is_in_wishlist)" [ngClass]="{'liked': is_in_wishlist}"><i class="fa fa-heart"></i></a>
                </div> -->
                <!-- <div class="button-cart">
                  <button type="button" (click)=addToCard(product?.id)><i class="fa fa-shopping-cart"></i> add to cart</button>
                </div> -->
              <!-- </div> -->

              <div class="product-offers well well-default">
                  <h5>BEST OFFERS <small> Best Price : <span class="old">$ 40</span></small></h5>
                  <h6><strong>Applicable On : </strong> On order above $ 40</h6>
                  <h6><strong>Coupon Code : </strong> ifash40up</h6>
              </div>   
              <div class="product-share">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  
                  
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" class="collapsed"  data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Product Detail
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <ul id="product-desc-t">
                              <li>{{product?.description || 'N/A'}}</li>
                             
                            </ul>
                          </div>
                        </div>
                      </div>

                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                          <a data-toggle="collapse"  data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Specifications
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                          <ul id="product-desc-t">
                            <li>Category : {{product?.category.cat_name}}</li>
                            <li>Sub Category : {{product?.subcategory.subcat_name}}</li>
                            <li>material : {{product?.material || 'N/A'}}</li>
                            <li>Fit : {{product?.fit || 'N/A'}}</li>
                            <li>Pattern : {{product?.pattern || 'N/A'}}</li>
                            <!-- <li>Fabric : {{product?.fabric || 'N/A'}}</li> -->
                            <li>Brand : {{product?.brand || 'N/A'}}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                      
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" class="collapsed"  data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="headingThree">
                            More Info
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                            <ul id="product-desc-t">
                              <li>{{product?.more_info || 'N/A'}}</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <br><br><br>
                      <!-- <div class="modal fade" id="exchange-order"> -->
                        <!-- <div class="modal-dialog modal-md"> -->
                          <!-- <div class="modal-content"> -->
                            <!-- <div class="modal-header"> -->
                              <h4 class="modal-title" style="display: contents;">Exchange Order</h4>
                              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <!-- </div> -->
                            <form [formGroup]="exchange_form" (ngSubmit)="set_exchange_form()">
                            <div class="modal-body">
                               <div class="col-md-12">
                                <div class="exchange-order">
                                  <h5>Write the reason for exchange</h5> 
                                  <textarea formControlName="exchange_description" class="form-control" rows="4" required></textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="margin-top-15">
                                      <button class="action-button btn btn-default btn-block" id="uprofilebtn" name="next" type="submit">Save & Proceed</button>
                                    </div>
                                  </div>
                               </div>
                            </div>
                            <div style="color: red" class="col-md-12">
                              <span>{{errormessage}}</span>
                            </div>
                          </form>
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </div> -->



                <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- left-sidebar start -->
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
      <!-- left-sidebar end -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-12">
            <div class="product-tab">
              <!-- Nav tabs -->
              <ul class="product-nav" role="tablist" *ngIf="best_selling?.length > 0">
                <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Best Sales Product</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                  <div class="row">
                    <div class="product-curosel">                      

                      <!-- single-product start -->
                      <div class="col-md-12" *ngFor="let products of best_selling ">
                        <div class="single-product">
                          <div class="product-img">
                            <a routerLink="/product-detail/{{products.id}}">
                              <h5>-{{products?.colour_and_images?.offer}}%</h5>
                              <img src="http://mysite{{products?.main_img}}" alt="" />
                            </a>
                            <span class="tag-line" >new</span>
                            <div class="product-action">
                              <div class="button-top">
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#productModal" id="{{products?.id}}" (click)="view_product_detail($event)"><i class="fa fa-eye"></i></a>
                                <a href="javascript:void(0)" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>
                                <!-- <a href="javascript:void(0)" (click)= "addToWishlist(product?.id, is_in_wishlist)" [ngClass]="{'liked': is_in_wishlist}"><i  class="fa fa-heart"></i></a> -->
                                <a *ngIf="products?.is_in_wishlist" href="javascript:void(0)" id="product_{{products?.id}}" name="{{products?.is_in_wishlist}}" (click)= "addToWishlist_bestselling(products?.id,$event)"  class="liked"><i  class="fa fa-heart"></i></a>
                                <a *ngIf="! products?.is_in_wishlist" href="javascript:void(0)" id="product_{{products?.id}}" name="{{products?.is_in_wishlist}}" (click)= "addToWishlist_bestselling(products?.id,$event)" class="" ><i  class="fa fa-heart"></i></a>

                              </div>
                            </div>
                          </div>
                          <div class="product-content">
                            <h3><a routerLink="/product-detail/{{profile.id}}/{{products.id}}/">{{products?.name}}</a></h3>
                            <div class="price">
                              <!-- <h5 style="margin-bottom: 5px;">by {{profile?.name| uppercase}}</h5> -->
                              <span>${{products?.colour_and_images.special_price}}</span>
                              <span  *ngIf="products?.colour_and_images?.offer>'0'" class="old">${{products?.colour_and_images.actual_price}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- single-product end -->

                       <!-- single-product start -->
                       <div class="col-md-12" >
                          
                        </div>
                        <!-- single-product end -->
                     

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- shop-area end -->
<!-- footer start -->
<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
      <div class="modal-img">
        <a routerLink="#"><img src="{{view_product?.main_img}}" alt="" width="100%"/></a>
      </div>
      <div class="modal-pro-content">
        <h3><a routerLink="#">{{view_product?.name}}</a></h3>
        <div class="pro-rating">
          <i class="fa fa-star" *ngFor="let star of stars"></i>
          <i class="fa fa-star-o" *ngFor="let non_star of non_stars"></i>
        </div>
       <span>(5 customer reviews)</span>
        <div class="price">
          <span>${{view_product?.colour_and_images.special_price}}</span>
          <span  *ngIf="view_product?.colour_and_images?.offer>'0'" class="old">${{view_product?.colour_and_images.actual_price}}</span>
          <span *ngIf="view_product?.colour_and_images?.offer>'0'" style="color: green;">  {{view_product?.colour_and_images.offer}}% off</span>
        </div>
        <p> {{view_product?.description}} </p>
        <!-- <form action="#">
          <input type="number" value="1" min="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
          <button type="button">Add to cart</button>
        </form> -->
        <div >
          <span class="posted_in">Categories: 
            <a rel="tag" routerLink="#">{{view_product?.category.cat_name}}</a>             
          </span> 
  
        </div>
        <div class="social">
          <a routerLink="#"><i class="fa fa-facebook"></i></a>
          <a routerLink="#"><i class="fa fa-twitter"></i></a>
          <a routerLink="#"><i class="fa fa-google-plus"></i></a>
          <a routerLink="#"><i class="fa fa-instagram"></i></a>
          <a routerLink="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
  <!-- Modal end -->
  <app-footer></app-footer>